
* {
    font-family: "Roboto Condensed", sans-serif;
}

body {
    background-image: url(../assets/images/backgroundV2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 10rem;
    margin: 8rem 0;
}

.container {
    width: 75vw;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 1.5rem;
    backdrop-filter: blur(1rem);
}

.clock {
    display: flex;
    justify-content: center;
}

.clock span {
    font-size: 25rem;
}

.prompts {
    font-size: 8rem;
    margin: 8rem 0;
}


#defconYellow {  
    color: yellow;  
    display: none;
}

#defconRed {   
    color: #AD0000; 
    display:none;

}

